body{
    text-align: center;
    background-color: rgb(171, 108, 230);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    text-wrap: pretty;
    border-right: 1px dashed #333;
    border-left: 1px dashed #333;
}

@media (max-width: 576px) {
    body{
        text-align: center;
        background-color: rgb(171, 108, 230);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
        text-wrap: pretty;
        border-right: 1px dashed #333;
        border-left: 1px dashed #333;
    }
 }

 footer{
    text-align: right;
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 3%;
 }


hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.8);
}

.mainPage{
    text-align: left;
}

.mainInfo {
    text-align: left;
}

li > button {
 text-align: left;

}

#contact{
    margin-left: 20%;
    margin-right: 20%;
}

#contact a {
    background-color: rgb(119, 16, 215);
}

#contact a:hover {
    background-color: rgb(99, 60, 135);
}